body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monserat';
}

.MuiMobileStepper-dot {
  background-color: white
}

.MuiMobileStepper-dotActive {
  background-color: gray;
}

.recharts-tooltip-item-name {
  display: none;
}